<hr/>

j) Import needed libraries

In [57]:
import pandas as pd
import os
import sqlalchemy

<hr/>

k) Set data directory

In [7]:
data_dir = 'data/'

<hr/>

Set trip and zone data files

In [8]:
trip_data = 'green_tripdata_2019-09.csv'

In [9]:
zone_data = 'taxi+_zone_lookup.csv'

<hr/>

l) Import zone data into pandas (chunks not needed not a large file)

In [14]:
df_zone_data = pd.read_csv(filepath_or_buffer=data_dir+zone_data)

View zone df shape

In [16]:
df_zone_data.shape

(265, 4)

Import trip data into pandas (chunks needed since large file, more to simulate batch processing as 400k is managable)

create a column list and remove 100% null value columns (ehail_fee)

In [39]:
keep_cols= ['VendorID',
 'lpep_pickup_datetime',
 'lpep_dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

Create iterable

In [40]:
trip_data_iterable_in_100k_chunks = pd.read_csv(filepath_or_buffer=data_dir+trip_data, iterator=True, chunksize=100000, parse_dates=['lpep_pickup_datetime', 'lpep_dropoff_datetime'], usecols=keep_cols)

Iterate over the first 100K rows

In [47]:
df_trip_data_in_100k_chunks = next(trip_data_iterable_in_100k_chunks)

Verify shape

In [49]:
df_trip_data_in_100k_chunks.shape

(100000, 19)

<hr/>

m) Create a schema from dataframe and name it "ny_green_taxi" database

In [52]:
print(pd.io.sql.get_schema(df_trip_data_in_100k_chunks, name="ny_green_taxi"))

CREATE TABLE "ny_green_taxi" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)