<hr style="border: 5px solid lightblue">

j) Import needed libraries

In [1]:
import pandas as pd
from sqlalchemy import create_engine

/var/folders/dt/j6n_44y57c9595rlg_6rf5lm0000gn/T/ipykernel_7388/2976241132.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

<hr style="border: 5px solid lightblue">

k) Set data directory

In [2]:
data_dir = 'data/'

<hr style="border: 5px solid lightblue">

Set trip and zone data files

In [3]:
trip_data = 'green_tripdata_2019-09.csv'

In [4]:
zone_data = 'taxi+_zone_lookup.csv'

<hr style="border: 5px solid lightblue">

l) Import zone data into pandas (chunks not needed not a large file)

In [5]:
df_zone_data = pd.read_csv(filepath_or_buffer=data_dir+zone_data)

View zone df shape

In [68]:
print(f'Dataframe rows: {df_zone_data.shape[0]}, Dataframe columns: {df_zone_data.shape[1]}')

Dataframe rows: 265, Dataframe columns: 4

Import trip data into pandas (chunks needed since large file, more to simulate batch processing as 400k is managable)

Create a column list and remove 100% null value columns (ehail_fee)

In [69]:
keep_cols= ['VendorID',
 'lpep_pickup_datetime',
 'lpep_dropoff_datetime',
 'store_and_fwd_flag',
 'RatecodeID',
 'PULocationID',
 'DOLocationID',
 'passenger_count',
 'trip_distance',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'payment_type',
 'trip_type',
 'congestion_surcharge']

Create iterable to import in chunks, this does not create a df, but an iterable object

In [70]:
trip_data_iterable_in_100k_chunks = pd.read_csv(filepath_or_buffer=data_dir+trip_data, iterator=True, chunksize=100000, parse_dates=['lpep_pickup_datetime', 'lpep_dropoff_datetime'], usecols=keep_cols)

Verify type of the itertable

In [55]:
print(type(trip_data_iterable_in_100k_chunks))

<class 'pandas.io.parsers.readers.TextFileReader'>

Iterate over the first 100K rows (this is a df)

In [71]:
df_trip_data_in_100k_chunks = next(trip_data_iterable_in_100k_chunks)

Verify first chunk is type dataframe

In [72]:
print(type(df_trip_data_in_100k_chunks))

<class 'pandas.core.frame.DataFrame'>

Verify shape (Remember original csv had 20 columns, we dropped the 'ehail_fee' which was empty)

In [73]:
print(f'Dataframe rows: {df_trip_data_in_100k_chunks.shape[0]}, Dataframe columns: {df_trip_data_in_100k_chunks.shape[1]}')

Dataframe rows: 100000, Dataframe columns: 19

<hr style="border: 5px solid blue">

Open a connection the the postgres db ny_green_taxi, using url: 'dialect+driver://username:password@host:port/database', this will not work until u invoke engine.connect()

In [48]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_green_taxi")

In [53]:
engine.connect()

m) Create a table from dataframe and name it "ny_green_taxi" database, remember this command doesnt do any interaction with Postgres

In [75]:
print(pd.io.sql.get_schema(df_trip_data_in_100k_chunks, name="ny_green_taxi", con=engine))

CREATE TABLE ny_green_taxi (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

Load the first 100k rows into the database

In [60]:
df_trip_data_in_100k_chunks.to_sql(name="ny_green_taxi", con=engine, if_exists='replace')

1000

o) Add the rest of the data in 100k row chunks

In [61]:
from time import time

In [62]:
while True:
    t_start = time()
    df_trip_data_in_100k_chunks = next(trip_data_iterable_in_100k_chunks) 
    df_trip_data_in_100k_chunks.to_sql(name="ny_green_taxi", con=engine, if_exists='append')
    t_end = time()
    print('Inserted another chunk, took %.3f second' %(t_end - t_start))

Inserted another chunk, took 13.973 second
Inserted another chunk, took 15.419 second

/var/folders/dt/j6n_44y57c9595rlg_6rf5lm0000gn/T/ipykernel_7388/1276191877.py:3: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_trip_data_in_100k_chunks = next(trip_data_iterable_in_100k_chunks)

Inserted another chunk, took 15.465 second
Inserted another chunk, took 6.456 second

StopIteration: